In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Douala,CM,2020-07-09 16:30:03,4.05,9.70,84.20,83,75,5.82
1,1,Dikson,RU,2020-07-09 16:30:03,73.51,80.55,44.22,83,0,16.75
2,2,Torbay,CA,2020-07-09 16:30:04,47.67,-52.73,64.00,59,75,6.93
3,3,Ushuaia,AR,2020-07-09 16:30:04,-54.80,-68.30,37.40,74,20,3.36
4,4,Bengkulu,ID,2020-07-09 16:26:51,-3.80,102.27,76.57,88,100,8.81

In [3]:
#Get the datatypes
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent Windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Douala,CM,2020-07-09 16:30:03,4.05,9.70,84.20,83,75,5.82
4,4,Bengkulu,ID,2020-07-09 16:26:51,-3.80,102.27,76.57,88,100,8.81
14,14,Cabo San Lucas,MX,2020-07-09 16:26:45,22.89,-109.91,87.01,69,20,11.41
15,15,Coahuayana,MX,2020-07-09 16:30:05,18.73,-103.68,75.20,83,75,2.30
16,16,Nizwa,OM,2020-07-09 16:30:06,22.93,57.53,88.90,44,100,9.13
17,17,Victoria,HK,2020-07-09 16:27:52,22.29,114.16,86.00,74,100,11.01
19,19,Rundu,NaN,2020-07-09 16:30:06,-17.93,19.77,75.20,25,0,2.24
25,25,Jaffna,LK,2020-07-09 16:26:16,9.67,80.01,83.30,77,80,12.24
26,26,Albany,US,2020-07-09 16:29:18,42.60,-73.97,86.00,77,4,2.84
28,28,Ozinki,RU,2020-07-09 16:30:07,51.18,49.68,82.94,38,2,9.84

In [12]:
preferred_cities_df.count()

City_ID       206
City          206
Country       205
Date          206
Lat           206
Lng           206
Max Temp      206
Humidity      206
Cloudiness    206
Wind Speed    206
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
0           Douala      CM     84.20   4.05    9.70
4         Bengkulu      ID     76.57  -3.80  102.27
14  Cabo San Lucas      MX     87.01  22.89 -109.91
15      Coahuayana      MX     75.20  18.73 -103.68
16           Nizwa      OM     88.90  22.93   57.53
17        Victoria      HK     86.00  22.29  114.16
19           Rundu     NaN     75.20 -17.93   19.77
25          Jaffna      LK     83.30   9.67   80.01
26          Albany      US     86.00  42.60  -73.97
28          Ozinki      RU     82.94  51.18   49.68

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
0           Douala      CM     84.20   4.05    9.70
4         Bengkulu      ID     76.57  -3.80  102.27
14  Cabo San Lucas      MX     87.01  22.89 -109.91
15      Coahuayana      MX     75.20  18.73 -103.68
16           Nizwa      OM     88.90  22.93   57.53
17        Victoria      HK     86.00  22.29  114.16
19           Rundu     NaN     75.20 -17.93   19.77
25          Jaffna      LK     83.30   9.67   80.01
26          Albany      US     86.00  42.60  -73.97
28          Ozinki      RU     82.94  51.18   49.68

In [15]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

In [17]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

In [21]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Douala,CM,84.20,4.05,9.70,Douala Rabingha Hôtel
4,Bengkulu,ID,76.57,-3.80,102.27,Grage Hotel Bengkulu
14,Cabo San Lucas,MX,87.01,22.89,-109.91,Hotel Tesoro Los Cabos
15,Coahuayana,MX,75.20,18.73,-103.68,Hotel Los Arcos
16,Nizwa,OM,88.90,22.93,57.53,Orient Apartments
17,Victoria,HK,86.00,22.29,114.16,Mini Hotel Central
19,Rundu,NaN,75.20,-17.93,19.77,Millennia Estate
25,Jaffna,LK,83.30,9.67,80.01,Green Grass Hotel & Restaurant
26,Albany,US,86.00,42.60,-73.97,
28,Ozinki,RU,82.94,51.18,49.68,at Rest

In [27]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]